rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Authentification requise pour toutes les opérations
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Règles spécifiques pour la collection parametres
    match /parametres/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Règles pour les factures
    match /factures/{factureId} {
      allow read, write: if request.auth != null;
    }
    
    // Règles pour les clients
    match /clients/{clientId} {
      allow read, write: if request.auth != null;
    }
  }
} 